<main class="container">
    {{#> FormAuth}}
        <h1>Вход</h1>
        {{> Input label="Login" name="login"}}
        {{> Input label="Password" type="password" name="password"}}
        {{> Button label="Sign in" type="primary" page="list"}}
        {{> Button label="Sign up" type="link" page="signIn" }}
        {{> Button label="Показать профиль" type="link" page="profile" }}
        {{> Button label="Показать ошибку 500" type="link" page="error500" }}
        {{> Button label="Показать ошибку 404" type="link" page="error404" }}
    {{/FormAuth}}
</main>

 