.list-container {
  display: flex;

  &__head {
    padding: 21px 10px 14px;
  }

  &__profile-block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 23px;
  }

  &__profile-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    color: #999999;
    font-size: 12px;
    cursor: pointer;
  }
}

.left {
  flex: 30%;
  background: #FBFBFB;
  border-right: 1px solid #EAEAEA;
  height: 100vh;
  overflow-y: scroll;
}

.right {
  height: 100vh;
  overflow-y: scroll;
  flex: 70%;
  width: 100%;
  padding: 19px 20px;
}
