<!--страница чата общее-->
<main class="list-container">
    <!--    Левая сторона -->
    <div class="left">
        <div class="list-container__head">
            <div class="list-container__profile-block">
                <button class="list-container__profile-button">
                    <span>Профиль</span>
                    {{> ArrowRight }}
                </button>
            </div>

            <div>
                {{> Search }}
            </div>
        </div>
        <!--Список чатов-->
        <nav>
            {{> ChatList}}
        </nav>
    </div>
    <!--Правая сторона-->
    <div class="right">
        {{> Chat}}
    </div>
</main>
