<main class="profile">
    <a class="profile__back" href="#">
        <div class="profile__back-icon">
            {{> BackArrow }}
        </div>
    </a>
    <form class="profile__content">
        <div>
            {{> Avatar}}
        </div>
        <div class="profile__content-input">
            {{> ProfileInput
                    name="email"
                    label="Email"
                    type="email"
                    env="profile"
                    placeholder="test@yandex.ru"
                    disabled="true"
            }}
            {{> ProfileInput
                    name="login"
                    label="Login"
                    type="text"
                    env="profile"
                    placeholder="ivanivanov"
                    disabled="true"
            }}
            {{> ProfileInput
                    name="first_name"
                    label="First Name"
                    type="text"
                    env="profile"
                    placeholder="Ivan"
                    disabled="true"
            }}
            {{> ProfileInput
                    name="second_name"
                    label="Second Name"
                    type="text"
                    env="profile"
                    placeholder="Ivanov"
                    disabled="true"
            }}
            {{> ProfileInput
                    name="display_name"
                    label="Display Name"
                    type="text"
                    env="profile"
                    placeholder="Ivan"
                    disabled="true"
            }}
        </div>
        <div class="profile__content-button">
            <button class="profile__content-button__main">
                Изменить данные
            </button>
            <button class="profile__content-button__main">
                Изменить пароль
            </button>
            <button class="profile__content-button__delete">
                Выйти
            </button>
        </div>
    </form>
</main>
