<main class="container">
    {{#> FormAuth}}
        <h1>Регистрация</h1>
        {{> Input label="Почта" name="email" }}
        {{> Input label="Логин" name="login"}}
        {{> Input label="Имя" name="first_name"}}
        {{> Input label="Фамилия" name="second_name"}}
        {{> Input label="Телефон" name="phone"}}
        {{> Input label="Пароль" type="password" name="password"}}
        {{> Input label="Пароль(еще раз)" type="password" name="password"}}
        {{> Button label="Зарегистрироваться" type="primary" page="profile"}}
        {{> Button label="Войти" type="link" }}
    {{/FormAuth}}
</main>

