<div class="search">
    <label
            for="search"
            class="search__label"
    >
        <input
                type="text"
                placeholder="Search"
                id="search"
                class="search__input"
        >
    </label>
</div>

