<label
        class="avatar"
        for="avatar"
>
    <div class="avatar__overlay">
        <p>Изменить</p>
    </div>
    {{> UserPhoto }}
    <input
            type="file"
            hidden="true"
            id="avatar"
            name="avatar"
    >
</label>

